
/* Player Div Container */



.tpPlayer {
    max-width: 944px;
    height: auto;
    margin: 0 auto;
    width:100%;
    
}

#myElement{
    width:100%;
    height:auto;
    border: 1px solid rgb(60,60,60);
}



/* Only for presentation, do not copy these styles */

body{
    background: #000 url(http://www.hotgo.tv/sites/all/themes/hotgo/images/categorias-bg.png) repeat-x;
    color: #fff;
}
